venv/
.venv/
__pycache__/
sesion.json
confirmaciones/
archivos/
db/
recursos/cm_horas.db
*.pyc
build/
dist/
*.spec
*.exe
*.dll
*.log
build_log.txt
releases/
*.xlsx
*.xls
*.pdf
*.zip
instaler.exe
installer*.bat
uninstall*.bat
dejavu-fonts-ttf-*
.server_pid
